{% extends "base.html" %}
{% block content %}
  <section id="bookmark" class="row">
    <div class="well">
      <form id="bookmarkForm" action="/bookmark" method="post">
          <div class="form-group {% if options and items %} hidden {% endif %}">
            <label for="websiteURL" class="control-label">url</label>
            <input id="websiteURL" name="url" class="form-control" value="{{page}}" readonly>
          </div>
     
        <div class="form-group">
          <label for="websiteTitle" class="control-label">name</label>
          {% if options and items %}
            <input id="websiteTitle" name="name" type="text" class="form-control" value="{{name}}" readonly>
          {% else %}
            <input id="websiteTitle" name="name" type="text" class="form-control" value="{{name}}">
          {% endif %}
        </div>
    
        <div class="form-group">
          <label for="tagSearch" class="control-label">tags</label>
          <select id="tagSearch" name="tag-list"></select>
        </div>
        <input class="btn btn-primary pull-right" type="submit"
          {% if options and items %}
            value="edit bookmark"
          {% else %}
            value="save bookmark"
          {% endif %}
        >
      </form>
    </div>
  </section>

  <script>
    $("#tagSearch").selectize({
      plugins: ['remove_button'],
      persist: false,
      maxItems: null,
      valueField: 'tag',
      labelField: 'tag',
      searchField: ['tag'],
      {% if options and items %}
        options: {{options|tojson}}, // e.g. options: [{tag: 'foo'}, {tag: 'bar'}],
        items: {{items|tojson}}, // e.g. items: ['foo', 'bar'],
      {% endif %}
      render: {
        item: function(item, escape) {
          return '<div>' +
            '<span class="tag">' + escape(item.tag) + '</span>' +
            '</div>';
        },
        option: function(item, escape) {
          return '<div>' +
            '<span class="tag">' + escape(item.tag) + '</span>' +
            '</div>';
        }
      },
      create: function(input) {
        return {tag: input};
      },
      load: function(query, callback) {
        if (!query.length) return callback();
        $.ajax({
          url: '/tag?query=' + encodeURIComponent(query),
          type: 'GET',
          error: function() {
            callback();
          },
          success: function(result) {
            var tags = JSON.parse(result);
            callback(tags);
          }
        });	
      }	
    });
  </script>
{% endblock %}
